<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss.SSS} %-5level[%.15thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="INFO"/>
    <logger name="spray.can" level="INFO"/>
    <logger name="com.gettyimages.spray.swagger" level="WARNING"/>
    <logger name="com.meltwater" level="INFO"/>
    <logger name="com.wordnik.swagger" level="WARNING"/>

    <root level="WARNING">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>